language: node_js
node_js:
  - "6.14"
sudo: required
services:
  - docker
before_install:
  - docker pull localstack/localstack
  - docker run -d -p 4567-4582:4567-4582 -p 4592-4593:4592-4593 localstack/localstack
script:
  - npm run lint
  - npm run test
  # setup links for integration testing
  - npm link
  # Kick off integration test
  - sleep 5; SLS_DEBUG=1 npm run test:integration
