service: aws-nodejs

provider:
  name: aws
  profile: ${opt:profile, self:custom.profile}
  stage: ${opt:stage, self:custom.defaultStage}
  runtime: nodejs20.x
  lambdaHashingVersion: '20201221'

custom:
  defaultStage: local
  profile: default
  localstack:
    debug: true
    stages: [local]
    autostart: true
    compose_file: /home/localstack/Projects/serverless-localstack/docker-compose.yml

functions:
  hello:
    handler: handler.hello
    environment:
      SSM_VAR: ${ssm:abc}
      # CF_VAR: ${cf:def}

plugins:
  - serverless-localstack
