service: aws-nodejs

provider:
  name: aws
  profile: ${opt:profile, self:custom.profile}
  stage: ${opt:stage, self:custom.defaultStage}
  runtime: nodejs12.x
  lambdaHashingVersion: '20201221'

plugins:
  - serverless-localstack

custom:
  defaultStage: local
  profile: default
  localstack:
    debug: true
    stages: [local]

functions:
  hello:
    handler: handler.hello
    environment:
      SSM_VAR: ${ssm:abc}
      # CF_VAR: ${cf:def}
    events:
      - sns: ${env:EXISTING_TOPIC_ARN}
